<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okwy.practiceproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CoordinatorLayout.CoordinatorLayoutActivity"></activity>
        <activity android:name=".WorkManager.WorkManagerActivity" />
        <activity android:name=".MenusWithPickers.MenusWithPickersActivity" />
        <activity
            android:name=".AppSettings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".AppSettings.AppSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppSettings.AppSettingsActivity" />
        </activity>
        <activity android:name=".AppSettings.AppSettingsActivity" />
        <activity android:name=".TabNavigation.TabNavigationActivity" />
        <activity android:name=".DrawablesStylesThemes.ScoreKeeperActivity" />
        <activity
            android:name=".IntentsWithActivities.SecondIntentActivity"
            android:label="Second Intent Activity"
            android:parentActivityName=".IntentsWithActivities.IntentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntentsWithActivities.IntentActivity" />
        </activity>
        <activity android:name=".IntentsWithActivities.IntentActivity" />
        <activity android:name=".JobScheduler.JobSchedulerActivity" />
        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".Localization.LocaleActivity" />
        <activity android:name=".Snackbar.SnackbarActivity" />
        <activity android:name=".Toast.ToastActivity" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".JobScheduler.Service.NotificationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>